<?xml version='1.0' encoding='utf-8'?>
<widget id="com.financeapp.personalbudget" version="2.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>මුදල් කළමනාකරණ</name>
    <description>Personal Finance Management App with Sinhala interface for managing bank accounts, cash flow, income, and expenses.</description>
    <author email="developer@financeapp.com" href="https://financeapp.com">
        Personal Finance App Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-compileSdkVersion" value="33" />
        <preference name="Fullscreen" value="false" />
        <preference name="Orientation" value="default" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
